@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Montserrat&display=swap");
html {
  scroll-behavior: smooth;
}

.btn {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: none;
  margin: 0;
  padding: 20px 70px;
  border-radius: 30px;
}

.btn:hover {
  cursor: pointer;
}

.red {
  color: red;
}

header {
  background-image: url("../resources/bg.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 25px;
}

header .content-wrap {
  width: 60%;
  margin: auto;
  text-align: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .content-wrap .circles-wrap {
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 180px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

header .content-wrap .circles-wrap .first-layer {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.09);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 50px auto;
  position: absolute;
  -webkit-animation: pulse-dot 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
          animation: pulse-dot 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}

header .content-wrap .circles-wrap .second-layer {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.06);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-animation: pulse-dot 1.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
          animation: pulse-dot 1.3s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
}

header .content-wrap .circles-wrap .photo {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background-image: url("../resources/me.jpg");
  background-position-x: 50%;
  margin: auto;
  position: absolute;
}

header .content-wrap h1 {
  font-family: "Lato", sans-serif;
  font-size: 50px;
  font-weight: 900;
  color: white;
  margin-bottom: 45px;
  word-break: break-all;
}

header .content-wrap p {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  line-height: 35px;
  margin-bottom: 75px;
}

header .content-wrap p b {
  font-weight: 700;
  color: #fff;
}

header .content-wrap .contact-me {
  color: #3695ff;
  background-color: #fff;
  margin-bottom: 85px;
}

header .content-wrap .arrow-down {
  -webkit-animation: bounce 3s infinite;
          animation: bounce 3s infinite;
}

header .content-wrap .arrow-down a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.about-me {
  background-color: #fff;
}

.about-me .content-wrap-about-me {
  width: 60%;
  padding: 100px 0;
  text-align: center;
  margin: auto;
  font-family: "Lato", sans-serif;
}

.about-me .content-wrap-about-me h1 {
  font-size: 50px;
  font-weight: 100;
  color: #3695ff;
  margin-bottom: 70px;
}

.about-me .content-wrap-about-me p {
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  color: #131516;
}

.knowledge {
  width: 100%;
  background-color: #f1f8ff;
  padding: 100px 0;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.knowledge h1 {
  margin-bottom: 120px;
  font-size: 50px;
  font-weight: 100;
  color: #3695ff;
  margin-bottom: 70px;
}

.knowledge .container {
  margin: auto;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.knowledge .container .card {
  background-color: transparent;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  height: 350px;
  width: 250px;
  margin-bottom: 20px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
}

.knowledge .container .card:hover {
  cursor: pointer;
}

.knowledge .container .card .card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.knowledge .container .card .card-inner .front,
.knowledge .container .card .card-inner .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #fff;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.knowledge .container .card .card-inner .front .img img {
  width: 50px;
  height: 50px;
}

.knowledge .container .card .card-inner .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.knowledge .container .card .card-inner .back p {
  width: 80%;
  margin: auto;
}

.works {
  padding: 100px 0;
}

.works .container {
  width: 60%;
  margin: auto;
  text-align: center;
}

.works .container .title {
  text-align: center;
  font-family: "Lato", sans-serif;
}

.works .container .title h1 {
  font-size: 50px;
  font-weight: 100;
  color: #3695ff;
  margin-bottom: 70px;
}

.works .container .github {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-width: 60%;
  margin: auto;
  background-color: #ffa136;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works .container .github:hover {
  cursor: pointer;
  background-color: #ff7d00;
}

.works .container .github a {
  text-decoration: none;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.works .container .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 50px;
}

.works .container .projects .project {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  background-color: #3695ff;
  margin: 0px auto 10px auto;
  width: 25%;
  padding: 20px;
  border-radius: 30px;
  min-height: 200px;
  min-width: 207px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.works .container .projects .project .overlay {
  z-index: 1;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.works .container .projects .project .p-title {
  margin: auto;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  width: 100%;
}

.works .container .projects .project .p-title p {
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  word-wrap: break-word;
}

.works .container .projects .project:hover .p-content,
.works .container .projects .project:hover .overlay {
  opacity: 1;
}

.works .container .projects .project .p-content,
.works .container .projects .project .overlay {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.works .container .projects .project .p-content {
  opacity: 0;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.works .container .projects .project .p-content p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #fff;
}

.works .container .projects .project .p-content a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  all: unset;
  font-family: "Lato", sans-serif;
  padding: 5px 10px;
  white-space: nowrap;
  overflow: hidden;
  background-color: #3695ff;
  border-radius: 5px;
  color: #fff;
}

.works .container .projects .project .p-content a:hover {
  cursor: pointer;
}

.contact {
  background-color: #f1f8ff;
}

.contact .container {
  padding: 100px 0;
  width: 60%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .container h3 {
  text-align: center;
  color: #3695ff;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.contact .container button {
  text-decoration: none;
  background-color: #fff;
  color: #3695ff;
  border: 1px solid #3695ff;
}

footer {
  background-image: url("../resources/footer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

footer .container {
  padding: 50px;
  width: 60%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
}

footer .container .links .link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 50%;
  width: 85px;
  height: 85px;
}

footer .container .links .link a {
  all: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

footer .container .links .link a i {
  font-size: 40px;
}

footer .container .links .link a i.fab.fa-github {
  color: #9e45ab;
}

footer .container .links .link a i.fa-linkedin {
  color: #0077b5;
}

footer .container .links .link a:hover {
  cursor: pointer;
}

.modal {
  position: fixed;
  z-index: -5;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.modal .modal-content {
  position: relative;
  background-color: #fff;
  margin: 10% auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px;
  width: 60%;
  border-radius: 20px;
  top: -100%;
  -webkit-transition: top 0.4s ease-in-out;
  transition: top 0.4s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.modal .modal-content .modal-title {
  margin-bottom: 20px;
  text-align: center;
}

.modal .modal-content .modal-title h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #3695ff;
  font-size: 20px;
}

.modal .modal-content .closeBtn {
  top: 5px;
  right: 15px;
  position: absolute;
  font-size: 30px;
  color: #5f5f5f;
}

.modal .modal-content .closeBtn:hover, .modal .modal-content .closeBtn:focus {
  color: #1f1f1f;
  cursor: pointer;
  -webkit-text-decoration: #000;
          text-decoration: #000;
}

.modal .modal-content form {
  width: 100%;
}

.modal .modal-content form input,
.modal .modal-content form textarea {
  all: unset;
  width: 100%;
  border: 1px solid rgba(34, 34, 34, 0.459);
  border-radius: 5px;
  padding: 5px;
}

.modal .modal-content form input {
  margin-bottom: 10px;
  height: 20px;
}

.modal .modal-content form button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #3695ff;
  font-size: 20px;
  color: #fff;
}

.modal .modal-content form button:hover {
  cursor: pointer;
}

.active-card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.show-modal {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.show-modal .show-modal-content {
  top: 0;
}

.stop-scroll {
  height: 100%;
  overflow: hidden;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes pulse-dot {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse-dot {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 860px) {
  .contact .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .container h3 {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 650px) {
  header .content-wrap {
    width: 80%;
  }
  header .content-info h1 {
    font-size: 38px;
  }
  .about-me .content-wrap-about-me {
    width: 80%;
  }
  footer .container {
    width: 100%;
  }
  footer .container .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .container .links .git {
    margin-bottom: 20px;
  }
  .modal .modal-content {
    width: 80%;
  }
}

@media screen and (max-width: 380px) {
  .knowledge .container .card {
    min-width: 200px;
  }
  .works .container .projects .project {
    min-width: 180px;
  }
}
/*# sourceMappingURL=style.css.map */