@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Montserrat&display=swap");

$fonts: (
  lato: (
    "Lato",
    sans-serif
  ),
  montserrat: (
    "Montserrat",
    sans-serif
  )
);

$colors: (
  main: #3695ff,
  main-darken: #3181dd,
  secondary: #f1f8ff,
  complementary: #ffa136,
  complementary-darken: rgb(255, 125, 0),
  text: #131516,
  linkedin: #0077b5,
  git: #9e45ab
);

html {
  scroll-behavior: smooth;
}

.btn {
  font-family: map-get($map: $fonts, $key: lato);
  font-size: 16px;
  font-weight: 700;
  border: none;
  margin: 0;
  padding: 20px 70px;
  border-radius: 30px;
  &:hover {
    cursor: pointer;
  }
}

.red {
  color: red;
}

header {
  background-image: url("../resources/bg.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 25px;

  .content-wrap {
    width: 60%;
    margin: auto;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .first-layer {
      height: 180px;
      width: 180px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.09);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 50px auto;

      .second-layer {
        height: 160px;
        width: 160px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.06);
        display: flex;
        justify-content: center;
        align-items: center;

        .photo {
          height: 140px;
          width: 140px;
          border-radius: 50%;
          background-image: url("../resources/me.jpg");
          background-position-x: 50%;
          margin: auto;
        }
      }
    }

    h1 {
      font-family: map-get($map: $fonts, $key: lato);
      font-size: 50px;
      font-weight: 900;
      color: white;
      margin-bottom: 45px;
      word-break: break-all;
    }

    p {
      font-family: map-get($map: $fonts, $key: lato);
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 300;
      line-height: 35px;
      margin-bottom: 75px;

      b {
        font-weight: 700;
        color: #fff;
      }
    }

    .contact-me {
      color: #3695ff;
      background-color: #fff;
      margin-bottom: 85px;
    }

    .arrow-down {
      a {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

.about-me {
  background-color: #fff;
  .content-wrap-about-me {
    width: 60%;
    padding: 100px 0;
    text-align: center;
    margin: auto;
    font-family: map-get($map: $fonts, $key: lato);

    h1 {
      font-size: 50px;
      font-weight: 100;
      color: map-get($map: $colors, $key: main);
      margin-bottom: 70px;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 35px;
      color: map-get($map: $colors, $key: text);
    }
  }
}

.knowledge {
  width: 100%;
  background-color: map-get($map: $colors, $key: secondary);
  padding: 100px 0;
  text-align: center;
  font-family: map-get($map: $fonts, $key: lato);

  h1 {
    margin-bottom: 120px;
    font-size: 50px;
    font-weight: 100;
    color: map-get($map: $colors, $key: main);
    margin-bottom: 70px;
  }

  .container {
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    .card {
      background-color: transparent;
      perspective: 1000px;
      height: 350px;
      width: 250px;
      margin-bottom: 20px;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      position: relative;

      &:hover {
        cursor: pointer;
      }

      .card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 500ms ease;
        transform-style: preserve-3d;
        

        .front,
        .back {
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
          background-color: #fff;
          border-radius: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        .front {
          .img {
            img {
              width: 50px;
              height: 50px;
            }
          }
        }

        .back {
          transform: rotateY(180deg);
          p {
            width: 80%;
            margin: auto;
          }
        }
      }
    }
  }
}

.works {
  padding: 100px 0;

  .container {
    width: 60%;
    margin: auto;
    text-align: center;

    .title {
      text-align: center;
      font-family: map-get($map: $fonts, $key: lato);
      h1 {
        font-size: 50px;
        font-weight: 100;
        color: map-get($map: $colors, $key: main);
        margin-bottom: 70px;
      }
    }

    .github {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      max-width: 60%;
      margin: auto;
      background-color: map-get($map: $colors, $key: complementary);
      transition: background-color 200ms ease;
      display: flex;
      flex-direction: column;
      align-items: center;

      &:hover {
        cursor: pointer;
        background-color: map-get($map: $colors, $key: complementary-darken);
      }

      a {
        text-decoration: none;
        color: #fff;
        font-family: map-get($map: $fonts, $key: lato);
        font-size: 16px;
        font-weight: 700;
      }
    }

    .projects {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 50px;

      .project {
        box-sizing: border-box;
        position: relative;
        background-color: map-get($map: $colors, $key: main);
        margin: 0px auto 10px auto;
        width: 25%;
        padding: 20px;
        border-radius: 30px;
        min-height: 200px;
        min-width: 207px;
        display: flex;
        align-items: center;
        overflow: hidden;

        .overlay {
          z-index: 1;
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.7);
        }

        .p-title {
          margin: auto;
          transition: opacity 300ms ease;
          width: 100%;
          p {
            text-align: center;
            text-decoration: none;
            font-size: 30px;
            font-family: map-get($map: $fonts, $key: montserrat);
            color: #fff;
            user-select: none;
            word-wrap: break-word;
          }
        }

        &:hover .p-content,
        &:hover .overlay {
          opacity: 1;
        }

        .p-content,
        .overlay {
          transition: opacity 200ms ease;
        }

        .p-content {
          opacity: 0;
          z-index: 2;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          user-select: none;

          p {
            font-family: map-get($map: $fonts, $key: lato);
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 10px;
            color: #fff;
          }

          a {
            box-sizing: border-box;
            all: unset;
            font-family: map-get($map: $fonts, $key: lato);
            padding: 5px 10px;
            white-space: nowrap;
            overflow: hidden;
            background-color: map-get($map: $colors, $key: main);
            border-radius: 5px;
            color: #fff;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.contact {
  background-color: map-get($map: $colors, $key: secondary);
  .container {
    padding: 100px 0;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      text-align: center;
      color: map-get($map: $colors, $key: main);
      font-family: map-get($map: $fonts, $key: lato);
      font-weight: 700;
      font-size: 30px;
    }

    button {
      text-decoration: none;
      background-color: #fff;
      color: map-get($map: $colors, $key: main);
      border: 1px solid map-get($map: $colors, $key: main);
    }
  }
}

footer {
  background-image: url("../resources/footer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .container {
    padding: 50px;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;

    .links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 50%;

      .link {
        box-sizing: border-box;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        border-radius: 50%;
        width: 85px;
        height: 85px;
        a {
          all: unset;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;

          i {
            font-size: 40px;

            &.fab.fa-github {
              color: map-get($map: $colors, $key: git);
            }

            &.fa-linkedin {
              color: map-get($map: $colors, $key: linkedin);
            }
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.modal {
  position: fixed;
  z-index: -5;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.2s ease;

  .modal-content {
    position: relative;
    background-color: #fff;
    margin: 10% auto;
    box-sizing: border-box;
    padding: 40px;
    width: 60%;
    border-radius: 20px;
    top: -100%;
    transition: top 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .modal-title {
      margin-bottom: 20px;
      text-align: center;
      h3 {
        font-family: map-get($map: $fonts, $key: lato);
        font-weight: 700;
        color: map-get($map: $colors, $key: main);
        font-size: 20px;
      }
    }

    .closeBtn {
      top: 5px;
      right: 15px;
      position: absolute;
      font-size: 30px;
      color: rgb(95, 95, 95);

      &:hover,
      &:focus {
        color: rgb(31, 31, 31);
        cursor: pointer;
        text-decoration: #000;
      }
    }

    form {
      width: 100%;

      input,
      textarea {
        all: unset;
        width: 100%;
        border: 1px solid rgba(34, 34, 34, 0.459);
        border-radius: 5px;
        padding: 5px;
      }

      input {
        margin-bottom: 10px;
        height: 20px;
      }

      button {
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        background-color: map-get($map: $colors, $key: main);
        font-size: 20px;
        color: #fff;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.active-card {
  transform: rotateY(180deg);
}

.show-modal {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;

  .show-modal-content {
    top: 0;
  }
}

.stop-scroll {
  height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 860px) {
  .contact {
    .container {
      flex-direction: column;
      h3 {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  footer {
    .container {
      .links {
        flex-direction: column;

        .git {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .knowledge {
    .container {
      .card {
        min-width: 200px;
      }
    }
  }

  .works {
    .container {
      .projects {
        .project {
          min-width: 180px;
        }
      }
    }
  }
}
